
<div class="auth-container">
    <mat-card class="auth-card">
        <!-- Header -->
        <mat-card-header></mat-card-header>
        <!-- Content -->
        <mat-card-content>
            <div [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center start">
                <!-- Username -->
                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput
                        type="text" 
                        formControlName="username"
                        required/>
                    <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                        Username is required.
                    </mat-error>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field class="full-width margin-top-10">
                    <mat-label>Password</mat-label>
                    <input matInput
                        type="password" 
                        formControlName="password"
                        required/>
                    <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                        Password is required.
                    </mat-error>
                </mat-form-field>
            </div>
            
            <!-- Log In Button -->
            <button mat-flat-button
                    class="full-width auth-button margin-top-10"
                    (click)="onSubmit()">LOG IN
            </button>

            <!-- Redirects -->
            <div class="margin-top-10">
                <a class="redirect">Forgot password?</a>
            </div>
            <div class="margin-top-10">
                <a class="redirect" routerLink="../register">
                    Don't have an account?
                </a>
            </div>
        </mat-card-content>
    </mat-card>
</div>