<div fxLayout="row" fxLayoutAlign="center center" class="filters-container">
  <div fxLayout="column" fxLayoutAlign="center center" class="dialog-inputs-container">
    <!-- Row 1 -->
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <p fxFlex="45">add-borrowing-transaction-dialog works!</p>
      <p fxFlex="45">add-borrowing-transaction-dialog works!</p>
      <p fxFlex="45">add-borrowing-transaction-dialog works!</p>
      <p fxFlex="45">add-borrowing-transaction-dialog works!</p>
    </div>
  </div>
</div>