<div>
	<!-- Filter button-->
	<button mat-button 
					[ngClass]="isFiltering ? 'filtering-button-active' : 'filtering-button'"
					(click)="isFiltering = !isFiltering"
					matTooltip="Filter data"
					[matTooltipPosition]="'above'">
		<mat-icon class="text-primary margin-0">tune</mat-icon>
	</button>

	<!-- Filter options -->
	@if (isFiltering) {
		<mat-card class="margin-top-10 filters-container">
			<mat-card-content fxLayout="row wrap" fxLayoutGap="50px" fxLayoutAlign="start start">
				@for (filterItem of localFilters(); track $index) {
					@switch (filterItem.type) {
						<!-- String filter -->
						@case (filterTypeEnum.String) {
							<div fxLayout="column" 
								 fxLayoutAlign="center start">
								<label class="filter-label">{{ filterItem.name }}:</label>
								<input class="filter-input margin-bot-20"
									   type="text" 
									   [formControl]="filterItem.control"/>
							</div>
						}
						<!-- Date Filter -->
						@case (filterTypeEnum.Date) {
							<div fxLayout="column" 
								 fxLayoutAlign="center start">
								<label class="filter-label">{{ filterItem.name }}:</label>
								<input class="filter-input margin-bot-20"
									   type="date"
									   [formControl]="filterItem.control"/>
							</div>
						}
						<!-- Checkbox Filter -->
						@case (filterTypeEnum.Checkbox) {
							<div fxLayout="column" fxLayoutAlign="center start">
								<div fxLayout="row wrap" fxLayoutGap="10px" class="margin-bot-20">
									<label class="filter-label margin-left-10" [fxFlex]="100">{{ filterItem.name }}:</label>

									@for (checkboxItem of filterItem.customKeyValue; track $index) {
										<div fxFlex="40">
										<mat-checkbox
											[checked]="isCheckboxChecked(filterItem.control, checkboxItem)"
											(change)="onCheckboxChange($event, filterItem.control, checkboxItem)">
											<span class="text-primary">{{ checkboxItem.value }}</span>
										</mat-checkbox>
										</div>
									}
								</div>
							</div>
						}
					}
				}
			</mat-card-content>
			<mat-card-footer class="margin-bot-10">
				<div fxLayout="row" fxLayoutAlign="start end">
					<!-- Apply filters -->
					<button mat-button
							class="filtering-button margin-5"
							style="margin-left: 15px; height: 30px;"
							(click)="onApplyFilters()"
							matTooltip="Apply filters"
							[matTooltipPosition]="'below'"><span class="text-primary">Apply</span>
					</button>
				
				<!-- Clear filters -->
					<button mat-button
							class="reset-button margin-5"
							style="margin-left: 15px; height: 30px;"
							(click)="onResetFilters()"
							matTooltip="Reset filters"
							[matTooltipPosition]="'below'"><span class="text-primary">Reset</span>
					</button>
				</div>
			</mat-card-footer>
		</mat-card>
	}

	<!-- Filter chips -->
	<div class="margin-top-10">
		<mat-chip-set fxLayout="row wrap" fxLayoutGap="50px" fxLayoutAlign="start center">
			<!-- Text chips -->
			@for (chip of filterChips(); track chip) {
				<mat-chip-row (removed)="removeChip(chip.key)">
					<span class="text-secondary">{{chip.key}}: </span><span class="text-primary">{{chip.value}}</span>
					<button matChipRemove [attr.aria-label]="'remove filter'">
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip-row>
			}
		</mat-chip-set>
	</div>
</div>