@use '../../assets/styles/variables' as *;

.layout-wrapper {
  height: 100%;
  background-color: $background-default;
}

.toolbar {
  background-color: $background-default;
}

.main-content {
  background-color: $background-default;
  height: 100%;
}

.sidebar {
  border-radius: 0px;
  background-color: $background-default;
  padding-top: 0;
  margin-top: 15px;
}

.sidebar-default-mode {
  width: 225px;
}

.sidebar.mini-mode {
  width: 60px;
}

.component-content-container {
  margin-top: 30px;
  margin-left: 15px;
}

.banner-image {
    width: 300px;
    padding-left: 15px;
}