<!-- Toolbar -->
<div class="layout-wrapper" fxLayout="column">
  <mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" 
            aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle()">
      <mat-icon class="text-secondary">menu</mat-icon>
    </button>
    <!-- Banner image -->
    <img class='banner-image clickable' 
        src="/Images/mythologix_banner.png"
        [routerLink]="routes.DASHBOARD"/>
    <span class="spacer"></span>
    <!-- Account icon -->
    <mat-icon class="text-secondary bigger-icon clickable"
              [matMenuTriggerFor]="accoutMenu">account_circle</mat-icon>
    <!-- Account menu -->
    <mat-menu #accoutMenu="matMenu">
      <!-- Logout -->
      <button mat-menu-item
              (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span class="text-primary">Log Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <!-- Main Content -->
  <mat-drawer-container class="main-content">
      <!-- Sidebar -->
      <mat-drawer #drawer class="sidebar sidebar-default-mode" mode="side" [opened]="true">
          <app-side-bar></app-side-bar>
      </mat-drawer>

      <!-- Component rendering -->
      <mat-drawer-content class="component-content-container">
          <div>
              <router-outlet></router-outlet>
          </div>
      </mat-drawer-content>
  </mat-drawer-container>
</div>

