@use '../../Assets/Styles/variables' as *;

.layout-wrapper {
  height: 100%
}

.toolbar {
  background-color: $background-default;
}

.main-content {
  padding-top: 5px;
  background-color: $background-default;
  height: 100%;
}

.sidebar {
  border-radius: 0px;
  background-color: $background-default;
  padding-top: 5px;
}

.sidebar-default-mode {
  width: 300px;
}

.sidebar.mini-mode {
  width: 60px;
}

.banner-image {
    width: 300px;
    padding-left: 15px;
}