@use 'assets/styles/variables' as *;

body {
    margin:0;
    padding:0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html { 
    height: 100%; 
}

.full-width {
    width: 100%
}

.text-primary {
    color: $text-primary;
}

.text-secondary {
    color: $text-secondary
}

.text-error {
    color: $error-color;
}

.clickable {
    cursor: pointer;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.bold {
    font-weight: bold;
}


/* AUTH START */

.auth-container {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: start;

    .auth-card {
        width: 30%;
        background: $background-default;
        color: $text-primary;
        padding: 16px;
        border: 2px solid $primary-dark;
        box-shadow: 0 0 20px 2px rgba($primary-dark, 0.6);
    }

    .auth-button {
        height: 50px;
    }
}

/* AUTH END */

.redirect {
    color: $text-primary;
    font-size: 12px;
}

/* DISABLED BUTTONS STYLING DUE TO ANGULAR MATERIAL BUG */
button[disabled] {
  background-color: $disabled-color !important;
  color: $text-disabled !important;
  cursor: default;
  pointer-events: none;
  opacity: 1 !important;
}

.spacer {
  flex: 1 1 auto;
}

/* Loading Circle START */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background-spinner;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

.spinner {
  border: 6px solid $spinner-border-color;
  border-top: 6px solid $primary-color;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Loading Circle END */