
// === Base brand color ===
$primary-color: #1469C0;
$primary-light: #4f94d4;
$primary-light-dark: #09162a;
$primary-dark: #0d47a1;

// === Accent ===
$accent-color: #00acc1; 
$accent-light: #5ddef4;
$accent-dark: #007c91;

// === Backgrounds ===
$background-default: #001833; 
$background-surface: #00254e; 
$background-hover: #2a2a3a;
$background-spinner: rgba(5, 5, 5, 0.7);
$background-table-content: #0D1B2A;
$background-table-header: #1B263B;
$background-menu: #649DC7;
$background-active: #304e63;

// === Text ===
$text-primary: #ffffff;
$text-secondary: #649DC7;
$text-disabled: #757575;
$text-secondary-hover: #9BCBFF;

// === Other UI states ===
$success-color: #00e676;
$warning-color: #ffca28;
$error-color: #BA1A1F;
$disabled-color: #DFDEE2;

// === Borders, outlines, dividers ===
$divider-color: rgba(255, 255, 255, 0.12);
$spinner-border-color: #ccc;